/*
* https://www.youtube.com/playlist?list=PLm_Qt4aKpfKgonq1zwaCS6kOD-nbOKx7V
*/

/*@font-face {
    font-family: 'Raleway';
    src: url();
    font-display: swap;
}*/

:root {
	--font-mono: 'Fira Mono', monospace;
	--c-blanco:         #ffffff;
    --c-negro:          #000000;
    --sombra:           #b3b3b3;
	--primary-color:    #b9c6d2;
	--secondary-color:  #d0dde9;
	--tertiary-color:   #edf0f8;
	--c-red:            #ff3e00;
	--column-width:         42rem;
	--column-margin-top:     4rem;

    /* Genéricos */
    --c-body:       var(--c-tertiary);
    --c-text:       rgba( 68, 68, 68,1);
    --c-company:    rgba(255, 62,  0,1);
    --c-company2:   rgba(255,255,255,1);
    --c-primary:    rgba(255,255,255,1);
    --c-secondary:  rgba(249,249,249,1);
    --c-tertiary:   rgba(243,243,243,1);
    --c-border:     rgba(197,197,197,1);
    --border:       1px solid var(--c-border);
    --c-shadow:     rgba(179,179,179,1);
    --shadow:       0 0 5px 1px var(--c-shadow);
    --shadow-hover: 0 0 1px 0px var(--c-shadow);
    --margin:       25px;
    --padding:      25px;
    --transition:   0.3s;
    --c-warning:    rgba(243,173, 69,1);
    --c-warning2:   rgba(255,255, 255,1);
    --c-error:      rgba(220, 53, 69,1);
    --c-error2:     rgba(255,255, 255,1);
    --c-positive:   rgba( 25,135, 84,1);
    --c-positive2:  rgba(255,255, 255,1);

    /*Font*/
    --font-1:       'Quicksand', sans-serif;
    --font-2:       'Raleway', sans-serif;
    --font-size:    1rem;

    /* Botón */
    --c-btn:        var(--c-company);
    --bg-btn:       var(--c-company2);

    /* Enlace */
    --c-link:       rgba( 68, 68, 68,1);
    --c-link-hover: var(--c-company);
    --c-link-active: var(--c-company);

    /* Subrayado */
    --c-selection:  var(--c-company);;
    --bg-selection: rgba(255,255,255,1);
}

[data-theme="blue"] {
    --c-body:       rgba(19,29,66,1);
    --c-primary:    rgba(68,101,218,1);
    --c-secondary:  rgba(48,72,160,1);
    --c-tertiary:   rgba(31,47,105,1);
    --c-text:       rgba(202,209,235,1);
    --c-link:       rgba(202,209,235,1);
    --shadow:       0;
    --shadow-hover: 0;
}

html{
    font-size: 100%;
}

body {
	margin: 0;
}

.theme{
    background: var(--c-body);
    color: var(--c-text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
    font-family: var(--font-1);
    font-size: var(--font-size);
    padding: 40px 0 100px 0;
}

::selection{
    background: var(--c-selection);
    color: var(--bg-selection);
}

a{
    cursor: pointer;
    color: var(--c-link);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--c-link-hover);
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
}

/* Nueva especificación de persolalizacion de la barra de desplazamiento */
body {
    scrollbar-width: thin;
    scrollbar-color: var(--c-company) var(--c-company2);
}
/* Personalizacion de la barra de desplazamiento para navegadores basados en webkit */
body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: var(--c-company2);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--c-company) ;
    border-radius: 6px;
    border: 1px solid var(--c-company2);
}

/* FRAMEWORK CSS */
.bold{ font-weight: bold; }
.text-justify { text-align: justify; }
.text-center { text-align: center; }
.word-break{word-break: break-all;}
.margin{ margin: var(--margin);}
.padding{ padding: var(--padding); }
.m-top{ margin-top: var(--margin);}
.m-bottom{ margin-bottom: var(--margin);}
.p-top{ padding-top: var(--margin);}
.p-bottom{ padding-bottom: var(--margin);}
.bold{font-weight: bold;}

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {}

/* Adaptación a tabletas */
@media (max-width: 1024px) {}



