/*
* https://www.youtube.com/playlist?list=PLm_Qt4aKpfKgonq1zwaCS6kOD-nbOKx7V
*/

/*@font-face {
    font-family: 'Raleway';
    src: url();
    font-display: swap;
}*/

:root {
	--font-mono: 'Fira Mono', monospace;
	--c-blanco:         #ffffff;
    --c-negro:          #000000;
    --sombra:           #b3b3b3;
	--primary-color:    #b9c6d2;
	--secondary-color:  #d0dde9;
	--tertiary-color:   #edf0f8;
	--c-red:            #ff3e00;
	--column-width:         42rem;
	--column-margin-top:     4rem;

    
    --c-body:       linear-gradient(304deg, rgba(255,255,255,1) 0%, rgba(218,218,218,1) 100% );
    --c-primary:    rgba(255,255,255,1);
    --c-secondary:  rgba(255,255,255,0.5);
    --c-tertiary:   rgb(245, 247, 253);
    --c-text:       rgba(68,68,68,1);
    --c-btn:        rgb(235, 235, 235);
    --bg-btn:       rgba(68,68,68,1);
    --c-btn-active: rgba(218,89,48,1);
    --c-link:       rgba(68,68,68,1);
    --c-link-hover: rgb(0, 0, 0);
    --c-link-active:rgba(218,89,48,1);
    --c-title:      rgba(68,68,68,1);
    --c-warning:    rgba(218,89,48,1);
    --c-error:      rgba(160,48,48,1);
    --c-positive:   rgba(48,160,51,1);
    --c-border:     rgb(197, 197, 197);
    --border:       1px solid var(--c-border);
    --c-shadow:     rgba(179,179,179,1);
    --shadow:       0 0 10px 2px var(--c-shadow);
    --shadow-hover: 0 0 5px 1px var(--c-shadow);
    --transition:   0.3s;
    --font-1:       'Quicksand', sans-serif;
    --font-2:       'Raleway', sans-serif;
    --padding:      10px;
    --c-selection:  rgba(218,89,48,1);
    --bg-selection: rgba(255,255,255,1);
}

[data-theme="blue"] {
    --c-body:       rgba(19,29,66,1);
    --c-primary:    rgba(31,47,105,1);
    --c-secondary:  rgba(48,72,160,1);
    --c-tertiary:   rgba(68,101,218,1);
    --c-text:       rgba(202,209,235,1);
    --c-link:       rgba(202,209,235,1);
}

html{
    font-size: 100%;
}

body {
	margin: 0;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

.theme{
    background: var(--c-body);
    color: var(--c-text);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh;
    font-family: var(--font-1);
    font-size: 1.1rem;
    padding: 45px 0 100px 0;
}

::selection{
    background: var(--c-selection);
    color: var(--bg-selection);
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

input,textarea{
    font-family: 'Mate SC', serif;
    border-radius: 5px;
    background-color: var(--c-blanco);
    border: 1px solid var(--c-negro);
    padding: 5px;
    transition: 180ms box-shadow ease-in-out;
}

input[readonly], textarea[readonly] {
    border-style: dotted;
    cursor: not-allowed;
    color: #777;
}

/*input[disabled] , textarea[disabled]{
    --input-border: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}*/

input:focus, textarea:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
    outline: 3px solid transparent;
}

input{
    font-size: 22px;
}

a{
    cursor: pointer;
    text-decoration: none;
    transition: var(--transition);
    color: var(--c-link);
}

a:hover {
    color: var(--c-link-hover);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-2);
    margin: 0;
}

h1 { font-weight: 200; }
h2 { font-weight: 400; }
h3,h4,h5,h6 { font-weight: 600; }

/*pre{
    background-color: var(--c-negro);
    color: var(--c-blanco);
}*/

/* Adaptación a movil */
@media (min-width: 0px) and (max-width: 767px) {
    
}



